<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        body {
            font-family: Aril, Helvetica, sans-serif;
            padding: 0;
            margin: 0;
            background: #e1e1e1;
            display: flex;
            align-items: center;
            justify-content: center;
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }

        @keyframes pulse {
            from {
                opacity: 100%;
            }

            to {
                opacity: 0;
            }
        }

        div {
            text-align: center;
            font-size: 1.5rem;
            will-change: opacity;
            animation: 2s ease-in-out infinite alternate pulse;
        }
    </style>
    <script>
        window.routes = <%- JSON.stringify(routes) %>;
    </script>
    <script type="module">
        function sendMessage(target, message) {
            return new Promise((resolve, reject) => {
                const {port1, port2} = new MessageChannel();
                port1.onmessage = event => {
                    if (event.data.error) {
                        reject(event.data.error);
                    } else {
                        resolve(event.data);
                    }
                };

                target.postMessage(message, [port2]);
            });
        }

        /**
         * @param {string} sw
         * @param {string} [scope]
         * @return {Promise<unknown>}
         */
        function register(sw, scope = '/') {
            return new Promise((resolve, reject) => {
                navigator.serviceWorker.register(sw, {scope})
                    .then(registration => {
                        resolve(registration.installing || registration.waiting || registration.active);
                    })
                    .catch(err => reject(err));
            });
        }

        const waitForSwIsActivated = (sw) => {
            let count = 0;
            return new Promise((resolve, reject) => {
                const check = () => {
                    if (sw.state === 'activated') {
                        resolve();
                    } else if (count > 10) {
                        reject();
                    } else {
                        count += 1;
                        setTimeout(check, 100);
                    }
                };
                setTimeout(check, 0);
            });
        };

        const scope = location.pathname;
        const sw = await register('<%- sw %>', scope);
        await waitForSwIsActivated(sw);
        const routes = window.routes;
        routes[scope] = '<%- app %>';
        await sendMessage(sw, {type: 'routes', data: routes});

        window.location.reload();
    </script>
    <title>Loading app...</title>
</head>
<body>
    <div>Loading ...</div>
</body>
</html>
